.header-title{

    background-color: black;
    position: relative;
    top: -120px;
    margin: 0 0 -120px 0;

    &__content{

        color: white;
        height: 360px;
        display: flex;
        padding: 140px 0 48px 0;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        @media(min-width:769px){
            height: 490px;
            padding: 140px 0 64px 0;
        }

        &-title{

            font-size: 50px;
            line-height: 44px;
            letter-spacing: -4px;

            @media(min-width:769px){
                font-size: 90px;
                line-height: 90px;
                letter-spacing: -8px;
            }
        }

        &-subtitle{
            font-size: 42px;
            line-height: 42px;
            letter-spacing: -2.5px;
            margin: 8px 0 0 0;
        }

        img{
            position: absolute;
            height: 320px !important;
            bottom: 0;
            right: 0;
            display: none;

            @media(min-width:1199px){
                display: block;
            }
        }
    }

    &:before{
        content: '';
        height: 35px;
        background-color: #252525;
        width: 100%;
        position: absolute;
        top: -35px;
        left: 0;
    }
}