.outstanding-header{

    height: 55vh;
    position:relative;
    top:-90px;
    margin:0 0 -90px 0;

    @media(min-width:992px){
        top:-120px;
        margin:0 0 -120px 0;
        height: 70vh;
    }

    &__content{

        height:55vh;
        width:100%;
        position:relative;

        @media(min-width:992px){
            height:70vh;
        }

        &-box{
            position:absolute;
            top: 120px;
            left:0;
            height: calc(55vh - 120px);
            width: 100%;
            display: flex;
            align-items: center;
            z-index: 1;

            @media(min-width:992px){
                height: calc(70vh - 120px);
            }

            &-title{
                font-size: 68px;
                line-height: 62px;
                letter-spacing: -7px;
                font-weight: 400;

                @media(min-width:992px){
                    font-size: 160px;
                    line-height: 122px;
                    letter-spacing: -15px;
        
                   
                }
            }
        }
 
        &-image{
            object-fit: cover;
            position:absolute;
            width: 100%;
            height: 100%;
        }
    }

    &--slider{

        .container-fluid{
            width: 100%;
        }

        .outstanding-header__content-box{
            height: 100vh;
            top:0;
        }

        .slider-v1-box{
            height: 100vh;
        }
    }

    &:before{
        content: '';
        height: 35px;
        background-color: #252525;
        width: 100%;
        position: absolute;
        top: -35px;
        left: 0;
    }

    &.custom-clients{

        height: auto;

        @media(min-width:992px){
            height: calc(100vh - 35px);
        }

        .outstanding-header__content {
            height: auto;

            @media(min-width:992px){
                height: calc(100vh - 35px);
            }
        }

        .outstanding-header__content-box{
            
            height: auto;
            position: relative;

            @media(min-width:992px){
                height: calc(100vh - 35px);
                position: absolute;
            }

            .container-fluid,
            .row,
            .col,
            .module-slider-v1,
            .slider-container,
            .slider-v1,
            .slick-list,
            .slick-track{
                height: auto;

                @media(min-width:992px){
                    height: 100%;
                }
            }

            .slick-slide{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .image-text__right img{
                height: 220px;
                object-fit: inherit;
                width: auto;
                margin: 0 auto;
                max-width: 100%;    
                
                @media(min-width:500px){
                    height: auto;
                }
            }

            .image-text{
                position:relative; 
                z-index:1;
                max-width:1200px;
                padding:64px 24px;

                @media(min-width:992px){
                    padding:0 24px;
                }
            }

            .image-text + img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: none;

                @media(min-width:1500px){
                    display: block;
                }   
            }
        }

        .module-slider-v1{
            overflow: hidden;
        }

        .text-block__description{

            ul{
                font-size: 16px;
                line-height:19px;
                font-weight: 800;
                padding: 0 0 0 22px;

                @media(min-width:769px){
                    font-size: 19px;
                    line-height:24px;
                }

                li{
                    margin: 0 0 8px 0;
                    font-weight: 600;
                    list-style: disc;
                    
                }
            }

            &.desktop{

                display: none;

                @media(min-width:769px){
                    display: block;
                }
            }

            &.mobile{

                display: block;

                @media(min-width:769px){
                    display: none;
                }
            }
        }

        .text-block{

            width: 100%;
            text-align:left;

            .btn-group{
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin: 32px 0 0 0;

                @media(min-width:769px){
                    flex-direction: row;
                }

                .btn{

                    width: 100%;

                    @media(min-width:769px){
                        width: auto;
                    }
                }
            }
        }
    }
}


// CONTROLAMOS EL MODO DE COLOR DEL HEADER

.is-dark-header{


    .header{

        &__desktop{

            &-container{

                &-fixed{

                    &-left{

                        .logo{

                            a{
                                @media(min-width:992px){
                                    background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/09/logo-codigobeta-white.png');
                                }
                            }
                        }
                    }

                    &-right{

                        & > nav{

                            &.primary-navigation{

                                ul{

                                    &.menu-wrapper{

                                        @media(min-width:992px){
                                            color: white;
                                        }

                                        .menu-item-has-children{

                                            .icon-minus{

                                                background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/09/arrow-menu-black.svg') !important;

                                                @media(min-width:992px){
                                                    background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/09/arrow-menu-white.svg') !important;
                                                }
                                            }
                                        }

                                        .current-menu-item{
                                            
                                            &:after{
                                                border-bottom: 2px solid white !important;
                                            }

                                            a{
                                                &:after{
                                                    border-bottom: 2px solid white !important;
                                                }
                                            }
                                        }

                                        .current-menu-parent{
                                            
                                            &:after{
                                                border-bottom: 2px solid white !important;
                                                width: calc(100% - 15px);
                                            }

                                            a{
                                                &:after{
                                                    border-bottom: 2px solid white !important;
                                                    width: calc(100% - 15px);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    
                }
            }
        }

        &__mobile{

            &-container{

                &-left{

                    span{

                        &.icon-menu{
                            background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/09/icon-menu-white.svg');
                        }
                    }
                }

                &-center{

                    span{

                        &.mobile-logo{
                            background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/09/logo-codigobeta-white.png');
                        }
                    }
                }
            }
        }

        &.sticky{

            .header{
                
                &__desktop{

                    &-container{
        
                        &-fixed{
        
                            &-right{
        
                                & > nav{
        
                                    &.primary-navigation{
        
                                        ul{
        
                                            &.menu-wrapper{
        
                                                @media(min-width:992px){
                                                    color: black;
                                                }

                                                .menu-item-has-children{

                                                    .icon-minus{
                                                        background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/09/arrow-menu-black.svg') !important;
                                                    }
                                                }

                                                .current-menu-item{
                                            
                                                    &:after{
                                                        border-bottom: 2px solid black !important;
                                                    }
        
                                                    a{
                                                        &:after{
                                                            border-bottom: 2px solid black !important;
                                                        }
                                                    }
                                                }

                                                .current-menu-parent{
                                            
                                                    &:after{
                                                        border-bottom: 2px solid black !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .outstanding-header{

        .btn{
            border: 1px solid white;

            &:hover{
                border: 1px solid white;
                background-color: white;
                color: black;
            } 
        }

        .custom-buttons button.next,
        .custom-buttons button.prev{
            background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/09/arrow-right-white.svg') !important;
        }

        .custom-buttons button:hover{
            opacity: 0.6;
        }

        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: white;
        }
        
        .slick-dots li button:before{
            color: white;
        }
    }

    &:before{

        content:'';
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100px;
        background-color: black;
        z-index: -1;
    }

   
}

.is-client-header{

    .outstanding-header__content .outstanding-header__content-box .module-slider-v1 .custom-buttons button.prev {
        background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/08/arrow-right-white.svg') !important;
    
        @media(min-width:1500px){
            background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/08/arrow-right-black.svg') !important;
        }
    }

    .outstanding-header__content .outstanding-header__content-box .module-slider-v1 .custom-buttons button.next {
       
        background-image: url('https://www.codigobeta.es/wp-content/uploads/2024/08/arrow-right-white.svg') !important;
    }

    .outstanding-header__content .outstanding-header__content-box .module-slider-v1 .slick-dots li.slick-active button:before,
    .outstanding-header__content .outstanding-header__content-box .module-slider-v1 .slick-dots li button:before{
        color: white;

        @media(min-width:1500px){
            color: black;
        }
    }

    &:before{
        background-color: transparent;
    }
}