.tabs-vertical {
    display: flex;
    justify-content: space-around; /* Espacio entre los dos contenedores de pestañas */

    &__header{

        display: flex;
        flex-direction: column;
        width: 110px; 

        @media(min-width:789px){
            width: 150px; 
        }


        &-element{
            cursor: pointer;
            border: 1px solid black;
            height: calc(100% / 4);
            display: flex;
            align-items: center;
            padding: 0 16px;
            margin: 0 -1px -1px 0;
            min-height: 50px;

            @media(min-width:789px){
                padding: 0 24px;
            }

            &.active {
                background-color: black;
                color: white;
            }
        }
    }

    &__container{

        flex: 1;

        &-element{
            display: none;
            padding: 24px;
            height: calc(100% - 48px);
            border: 1px solid black;
        }

        &.active {
            display: block;
        }
    }
}